@font-face {
    font-family: 'HKGrotest';
    src: url('../fonts/HKGrotesk-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root { 
    --bg-color: #20EFAF;
    --font-color: #FFFFFF;
}

body {
    background: url(../images/background-desktop.png) center/cover no-repeat;
    color: var(--font-color);
    height: 100vh;
}

.sider-left,
.sider-right {
    background: url(../images/sider.svg) center/cover no-repeat;
    position: absolute;
    width: 35%;
    height: 35%;
    z-index: -1;
}

.sider-right {
    bottom: 0;
    right: 0;
}

.sider-left {
    transform: rotate(0.5turn);
    top: 0;
    left: 0;
}

header,
footer {
    width: 100%;
    height: 8vh;
    max-height: 84px;
    background-color: var(--bg-color);
    position: fixed;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

header > section,
footer > section {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main > section {
    position: relative;
    margin-left: 247px;
}

main h1 {
    background: url('../images/logo-cbm.svg') center/cover no-repeat;
    width: 187px;
    height: 106px;
    position: absolute;
    left: -247px;
}

main p {
    width: 394px;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    margin-top: 37px;
    position: relative;
}

main p:before {
    content: '';
    position: absolute;
    background: url(../images/decorator-green.svg) center no-repeat;
    height: 100%;
    width: 11px;
    left: -28px;
}

h2 {
    font-family: 'HKGrotest';
    font-size: 16px;
    letter-spacing: 1px;
}

.decorator-white {
    width: 83px;
    height: 11px;
}

.turned {
    transform: rotate(0.5turn);
}

.logo-uj {
    width: 200px;
    height: 50px;
    max-height: 80%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .sider-left,
    .sider-right {
        width: 60%;
        height: 30%;
    }
    header > section,
    footer > section {
        width: 90%;
    }
    .decorator-white {
        width: 41px;
        height: 11px;
    }
    h2 {
        font-size: 11px;
    }
    main section {
        margin: 106px auto 0 auto;
    }
    main h1 {
        width: 130px;
        height: 73px;
        left: auto;
        right: 5%;
        top: -73px;
    }
    main p {
        width: 85%;
        margin: 20px auto 0 35px;
        font-size: 13px;
    }
    main p:before {
        left: -23px;
    }
  }

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  }